@page "/Customer"
@using BlazorApp.Client.Services

@inject CustomerApiService CustomerApiService;

<h3>Customer</h3>

Preview customers

@if (_customers == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Region</th>
            <th>Postal Code</th>
            <th>Country</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in _customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.CompanyName</td>
                <td>@customer.ContactName</td>
                <td>@customer.Address</td>
                <td>@customer.City</td>
                <td>@customer.Region</td>
                <td>@customer.PostalCode</td>
                <td>@customer.Country</td>
                <td>@customer.Phone</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<BlazorApp.Shared.Models.Customer>? _customers;

    protected override async Task OnInitializedAsync()
    {
        _customers = await CustomerApiService.GetCustomersAsync() ?? [];
    }
}