@page "/newcustomer"
@rendermode InteractiveAuto
@using BlazorApp.Shared.Dtos
@inject CustomerApiService CustomerApiService;

<h3>New Customer</h3>

@if (IsCreatedAlertVisible)
{
    <Alert Color="AlertColor.Success">  Customer successfully Created! </Alert>
}

@if (IsExceptionAlertVisible)
{
    <Alert Color="AlertColor.Danger"> Error: @ErrorMessage </Alert>
}

<EditForm Model="CustomerDto" FormName="newCustomerForm" OnValidSubmit="Submit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="companyName" class="form-label">Company Name</label>
        <InputText id="companyName" class="form-control" @bind-Value="CustomerDto.CompanyName" />
        <ValidationMessage For="@(() => CustomerDto.CompanyName)" />
    </div>
    
    <div class="mb-3">
        <label for="contactName" class="form-label">Contact Name</label>
        <InputText id="contactName" class="form-control" @bind-Value="CustomerDto.ContactName" />
        <ValidationMessage For="@(() => CustomerDto.ContactName)" />
    </div>
    
    <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <InputText id="address" class="form-control" @bind-Value="CustomerDto.Address"/>
        <ValidationMessage For="@(() => CustomerDto.Address)" />
    </div>
    
    <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <InputText id="city" class="form-control" @bind-Value="CustomerDto.City" />
    </div>
    
    <div class="mb-3">
        <label for="region" class="form-label">Region</label>
        <InputText id="region" class="form-control" @bind-Value="CustomerDto.Region" />
    </div>
    
    <div class="mb-3">
        <label for="postalCode" class="form-label">Postal Code</label>
        <InputText id="postalCode" class="form-control" @bind-Value="CustomerDto.PostalCode" />
        <ValidationMessage For="@(() => CustomerDto.PostalCode)" />
    </div>
    
    <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <InputText id="country" class="form-control" @bind-Value="CustomerDto.Country" />
    </div>
    
    <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <InputText id="phone" class="form-control" @bind-Value="CustomerDto.Phone" />
        <ValidationMessage For="@(() => CustomerDto.Phone)" />
    </div>
    
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private CustomerDto CustomerDto { get; set; } = new();
    
    private bool IsCreatedAlertVisible { get; set; } 
    private bool IsExceptionAlertVisible { get; set; }
    private string ErrorMessage { get; set; } = string.Empty;
    
    public async Task Submit(EditContext editContext)
    {
        try
        {
            var response = await CustomerApiService.AddCustomerAsync(CustomerDto);
            if (response)
            {
                IsCreatedAlertVisible = true;
                CustomerDto = new();
            }
            else
            {
                IsExceptionAlertVisible = true;
            }
        }
        catch (Exception ex)
        {
            IsExceptionAlertVisible = true;
            ErrorMessage = ex.Message;
        }
        StateHasChanged();
    }
}